.login_container{
	margin-left: 10px;
	margin-right: 10px;
}
.tips{
	margin: 20px 0;
}
.reglink{
	float: left;
}
.passlink{
	float: right;
}
.reglink a{
	color: white;
	text-decoration: underline;
}
.passlink a{
	color: white;
	text-decoration: underline;
}
