@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

html{
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}
/**
html,body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
	vertical-align: baseline;
	background: transparent;
}

div{
	box-sizing: content-box;
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
	{
	display: block;
}

a,img {
	-webkit-touch-callout: none;
}
img{
	appearance: none;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari 和 Chrome */
}
a,a:hover,a:active,a:link {
	color: #000000;
	text-decoration: none;
}

a,img,button,input,textarea {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img{
	display: inline-block;
}
pre {
	white-space: pre-line
}

li {
	list-style: none;
}

span {
	display: inline-block;
}

